
.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: start;

}
.w-100{
    width: 100%;
}

.navbar_list
{
    width: 100%;
}

@media screen and (max-width: 700px ) {
.navbar_container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    
    } 
.navbar_content
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.navbar_mainconatainer
  {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
    
    
  }

  